@{
    ViewBag.Title = "Update Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update Trainer Profile</h2>
<form>
    <label>Name:</label>
    <input type="text" class="form-control" />

    <label>Email:</label>
    <input type="email" class="form-control" />

    <button class="btn btn-primary mt-2">Update</button>
</form>
